
body {
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 90%;
}

.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 1em;
}

 picture img{
    max-width: 100%;
    border-radius: 1em 1em 0 0;
    height: 100%;
}


.prices {
    display: flex;
    gap: 1em;
    margin: 0;
    align-items: center;
}

h1,
.current-price{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    font-size: 2em;
    margin: 0;
}

h1{
    color: hsl(212, 21%, 14%);
}

.content-container{
    padding: 20px;
}

.description, 
.category,
.original-price {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
    color: hsl(228, 12%, 48%);
}

.category{
    letter-spacing: 5px;
    margin-top: 0;
}

.current-price{
    color: hsl(158, 36%, 37%);
}

.description{
    line-height: 1.5em;
}

.original-price{
    text-decoration-line: line-through;
}

button{
    width: 100%;
    padding: 15px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border: none;
    border-radius: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: 700;
}

button img{
    margin-right: 0.5em;
}


@media only screen and (min-width: 768px){
 
main{
    width: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container picture,
  .content-container {
    flex: 1;
  }
}
